In [ ]:
class abc:
  def io(self):
    n = int(input())
    return n

In [ ]:
def markscond():
  marks = int(input("Enter your marks: "))
  if marks >= 90:
    print("Grade A")
  elif marks >= 80:
    print("Grade B")
  elif marks >= 70:
    print("Grade C")
  elif marks >= 60:
    print("Grade D")
  else:
    print("Fail")

In [ ]:
m = markscond()
# print(m)

Enter your marks: 56
Fail

__****__

__****__

__****__

__****__

In [ ]:
for i in range(0,4):
  for j in range(0,4):
    print("*", end="")
  print()

****
****
****
****

__*__

__**__

__***__

__****__

__*****__

In [ ]:
for i in range(0, 5):
  for j in range(0, i+1):
    print("*", end="")
  print()

*
**
***
****
*****

1

12

123

1234

12345

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

1

22

333

4444

55555

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end="")
  print()

1
22
333
4444
55555

__*****__

__****__

__***__

__**__

__*__

In [ ]:
n = int(input("Enter the number: "))
for i in range(0,n):
  for j in range(1,n-i+1):
    print("*",end="")
  print()

Enter the number: 5
*****
****
***
**
*

In [ ]:
n = int(input("Enter the number: "))
for i in range(5,0,-1):
  print("*" * i)
print()

Enter the number: 5
*****
****
***
**
*

12345

1234

123

12

1

In [ ]:
n = int(input("Enter the number: "))
for i in range(0,n):
  for j in range(1,n-i+1):
    print(j,end="")
  print()

Enter the number: 5
12345
1234
123
12
1

      *    
     ***   
    *****
   *******
  *********

In [ ]:
n = int(input("Enter a number: "))
for i in range(0,n):
    spaces = n - i - 1
    stars = 2 * i + 1
    print(' ' * spaces + '*' * stars)

Enter a number: 5
    *
   ***
  *****
 *******
*********

In [ ]:
def p1():
  n = int(input("Enter a number: "))
  for i in range(0,n):
      # Printing spaces
      for j in range(0,n - i - 1):
          print(' ', end='')
      # Printing stars
      for j in range(0,2 * i + 1):
          print('*', end='')
      for j in range(0,n - i - 1):
          print(' ', end='')
      # Moving to next line
      print()

In [ ]:
a = p1()

Enter a number: 5
    *
   ***
  *****
 *******
*********

Inverted stars pattern of the above pattern

In [ ]:
def p2():
  n = int(input("Enter a number: "))
  for i in range(0,n):
      # Printing spaces
      for j in range(0,i):
          print(' ', end='')
      # Printing stars
      for j in range(0,2 * n - (2 * i + 1)):
          print('*', end='')
      for j in range(0,n - i - 1):
          print(' ', end='')
      # Moving to next line
      print()

In [ ]:
b = p2()

Enter a number: 5
*********
 *******
  *****
   ***
    *

In [ ]:
n = int(input("Enter the number of rows you want to print: "))
for i in range(0,n):
  if i % 2 == 0:
    start = 1
  else:
    start = 0
  for j in range(0,i+1):
    print(start,end=" ")
    start = 1 - start
  print()

Enter the number of rows you want to print: 5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [ ]:
num = 1
n = int(input("Enter the number of rows you want to print: "))
for i in range(0,n):
  for j in range(0,i+1):
    print(num, end=' ')
    num = num + 1
  print()

Enter the number of rows you want to print: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15